<%= stylesheet_link_tag "home.scss"%>

<div id="test">
	<h1>Jihun's RubyOnRails Practice</h1>
</div>
<%= link_to 'First_Pratice', controller: 'articles' %><br>
<%= link_to 'Second_Pratice', controller: 'practice' %>
